@model IEnumerable<websitedienlanh.Models.ThongSo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenThongSo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoiDung)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.SanPhamID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenThongSo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDung)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ThongSoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ThongSoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ThongSoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
