@model IEnumerable<websitedienlanh.Models.ChiTietDatHang>

@{
    ViewData["Title"] = "Details";
    var ddh = (DonDatHang)ViewBag.ddh;
    var i = 1;
    var total = 0;
}

<h1>Details</h1>

<div>
    <button class="btn btn-info" id="print" onclick="printContent('printerDiv');">Print</button>
</div>

<div class="page-inner" id="printerDiv">
    <h5 class="mb-3" style="font-size:15px;">Công ty CP Công trình Viettel</h5>
    <h5 class="mb-3" style="font-size:15px;">Địa chỉ: 269B, Nguyễn Thái Học, Phường Mỹ Hoà, Thành Phố Long Xuyên, Tỉnh An Giang, Việt Nam</h5>
    <div class="text-center text-uppercase fs-3 fw-bold">Đơn đặt hàng</div>
    <h5 class="mb-3" style="font-size:15px;">Tên khách hàng: @ddh.HoTen</h5>
    <h5 class="mb-3" style="font-size:15px;">Số điện thoại: @ddh.Sdt</h5>
    <h5 class="mb-3" style="font-size:15px;">Địa chỉ: @ddh.DiaChi</h5>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Tên sản phẩm
                </th>
                <th>
                    Đơn giá
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Thành tiền
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                total += item.ThanhTien;
                <tr>
                    <td>
                        @(i++)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SanPham.Ten)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DonGia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThanhTien)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h5 class="mt-5" style="font-size:15px;">Tổng tiền: @(total.ToString("n0"))đ</h5>
</div>

<script>
    function printContent(el) {
        var restorepage = $('body').html();
        var printcontent = $('#' + el).clone();
        $('body').empty().html(printcontent);
        window.print();
        $('body').html(restorepage);
    }
</script>