@model IEnumerable<websitedienlanh.Models.TaiKhoan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenTaiKhoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatKhau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuyenHan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenTaiKhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuyenHan.Ten)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TaiKhoanID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TaiKhoanID">Details</a> |
                @if(Context.Session.GetInt32("_QuyenID") == 1)
                {
                    <a role="button" class="disabled" aria-disabled="true">Delete</a>
                } else
                {
                    <a asp-action="Delete" asp-route-id="@item.TaiKhoanID">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
